<div class="no-repositories-section">
  <h1 class="text-center text-danger">No repositories found.</h1>
  <p class="text-center lead">No repositories to display for your account.</p>
  <div class="text-center">
    <a href="<%= repositories_path %>" class="btn btn-outline-primary btn-lg">Go Back to Repositories</a>
  </div>
</div>
