<h1>Repositories#index</h1>
<p>Find me in app/views/repositories/index.html.erb</p>

<h1>My Repositories</h1>

<% if @repositories.any? %>
  <ul>
    <% @repositories.each do |repo| %>
      <li>
        <%= link_to repo.name, repository_path(repo.full_name) %>
        <p><%= repo.description %></p>
        <p>Stars: <%= repo.stargazers_count %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No repositories found.</p>
<% end %>